{{!-- this is html for layout and replaces triple-bracketed body in main--}}
<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Welcome to Eat-Da-Burger!</h1>
        <p class="lead">We have several burgers to suggest; customize your order and we'll make it!</p>
        <hr class="my-4">
        <h2>Select a burger</h2>
        <a class="btn btn-primary btn-lg" href="#" role="button">Place your order</a>
    </div>
</div>