{{!-- this is html for layout and replaces triple-bracketed body in main--}}
<div class="container" id="bg">

    <div>
        <h1><strong>Welcome to Eat-Da-Burger!</strong></h1>
        <h4><strong>We have several recommendations, but you can build your own.</strong></h4>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h5><strong>Add your custom burger to the menu below:</strong></h5>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-9">
                <form class="burgerForm form-inline">
                    <div class="form-group">
                        <label for="">
                        </label>
                        <input type="text" class="form-control" id="burgerName" aria-describedby="your custom burger"
                            placeholder="">
                    </div>
                    <button id="addburger" class="btn btn-add" type="submit">Add My Burger</button>
                </form>
                <hr>
            </div>



        </div>

    </div>
    <div class="row">
        <div class="col-lg-5">
            <p><strong>On the menu: </strong></p>
            <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <li>
                            {{this.burger_name}}
                            <button class="devourBurger" type="button" data-id="{{this.ID}}">EAT IT</button>

                        </li>
                        {{/unless}}
                        {{/each}}
                    </ul>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <p><strong>In your tummy: </strong></p>
            <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <li>{{this.burger_name}}
                            <button class="unBurger" type="button" data-id="{{this.ID}}">Seconds please!</button>
                        </li>

                        {{/if}}
                        {{/each}}
                    </ul>
        </div>
    </div>




</div>