#bg {
   
    background-image: url(https://images4.alphacoders.com/276/276756.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }